#kiwiirc-window, #tmux-window, #nspawn-window {
    width: 100%;
    padding: 0.5em;
}

.container {
    max-width: 100%;
}

#tmux-title, #nspawn-title {
    text-align: center;
}

#footer {
    font-size: x-small;
    text-align: center;
}
