<!doctype html>
<html>
  <head>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block header %}
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
  </body>
</html>
