{% extends 'base.html' %}
{% block head %}
<title>MeeTTY</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/xterm@4.9.0/lib/xterm.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/xterm-addon-fit@0.4.0/lib/xterm-addon-fit.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@4.9.0/css/xterm.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
{% endblock %}
{% block body %}
<div id="content" class="container">
  <div id="kiwiirc-window" class="container">
    <div class="row">
      <div id="kiwiirc" class="column">
	<iframe id="kiwiirc-iframe" src="/static/kiwiirc/index.html?config=meetty" style="width:100%; height:480px;"></iframe>
      </div>
    </div>
  </div>

  <div id="tmux-window" class="container">
    <div class="row">
      <label class="column" id="tmux-title">Presenter Terminal</label>
    </div>
    <div class="row">
      <div id="tmux" class="column"></div>
    </div>
  </div>

  <div id="nspawn-window" class="container">
    <div class="row">
      <label class="column" id="nspawn-title">Practice Terminal</label>
    </div>
    <div class="row">
      <div class="column" id="nspawn"></div>
    </div>
  </div>
</div>

<script>
  const tmux = new Terminal({cursorBlink: true});
  const tmuxfit = new FitAddon.FitAddon();
  tmux.loadAddon(tmuxfit);
  tmux.open(document.getElementById('tmux'));

  const tmuxio = io('/tmux', {forceNew: true, transports: ['websocket'], query: {ns: 'tmux'}});
  let tmux_ptysize = undefined;
  tmuxio.on('connect', () => {
      console.log("tmux connected");
      tmuxfit.fit();
      tmuxio.emit('resize', tmux.rows, tmux.cols);
  });

  tmuxio.on('pty', (data) => {
      if (typeof data === 'undefined') {
	  console.log('tmuxio: got EOF');
	  if(tmuxio.connected) {
	      tmuxio.close();
	  }
      }
      ptydata = new Uint8Array(data);
      tmux.write(ptydata);
  });

  tmuxio.on('resize', (data) => {
	  tmux_ptysize = data;
	  tmux.resize(data.cols, data.rows);
	  tmux.refresh(0, data.rows);
  });

  tmuxio.on('disconnect', () => {
      console.log("tmux disconnected");
      setTimeout(()=>{
	  if(tmuxio.disconnected) {
	      console.log("tmux reconnecting");
	      tmuxio.open();
	  }
      }, 1000);
  });

  tmux.onData((string) => {
      tmuxio.emit('pty', string);
  });

  tmux.onResize((event) => {
      if(tmux_ptysize !== undefined &&
	 tmux_ptysize.cols !== event.cols &&
	 tmux_ptysize.rows !== event.rows) {
	  tmuxio.emit('resize', event.rows, event.cols);
	  tmux.refresh(0, event.rows);
      }
  });


  const nspawn = new Terminal({cursorBlink: true});
  const nspawnfit = new FitAddon.FitAddon();
  nspawn.loadAddon(nspawnfit);
  nspawn.open(document.getElementById('nspawn'));

  const nspawnio = io('/nspawn', {forceNew: true, transports: ['websocket'], query: {ns: 'nspawn'}});
  let nspawn_ptysize = undefined;
  nspawnio.on('connect', () => {
      console.log("nspawn connected");
      nspawnfit.fit();
      nspawnio.emit('resize', nspawn.rows, nspawn.cols);
  });

  nspawnio.on('pty', (data) => {
      if (typeof data === 'undefined') {
	  console.log('nspawnio: got EOF');
	  if(nspawnio.connected) {
	      nspawnio.close();
	  }
      }
      ptydata = new Uint8Array(data);
      nspawn.write(ptydata);
  });

  nspawnio.on('resize', (data) => {
      nspawn_ptysize = data;
      nspawn.resize(data.cols, data.rows);
      nspawn.refresh(0, data.rows);
  });

  nspawnio.on('disconnect', () => {
      console.log("nspawn disconnected");
      setTimeout(()=>{
	  if(nspawnio.disconnected) {
	      console.log("nspawn reconnecting");
	      nspawnio.open();
	  }
      }, 1000);
  });

  nspawnio.on('pid', (pid) => {
      var nspawntitle = document.getElementById('nspawn-title');
      nspawntitle.innerHTML = "Practice Terminal (" + pid + ")";
  });

  nspawn.onData((string) => {
      nspawnio.emit('pty', string);
  });

  nspawn.onResize((event) => {
      if (tmux_ptysize !== undefined &&
	  tmux_ptysize.cols !== event.cols &&
	  tmux_ptysize.rows !== event.rows) {
	  nspawnio.emit('resize', event.rows, event.cols);
	  nspawn.refresh(0, event.rows);
      }
  });

  window.addEventListener("resize", () => {
      tmuxfit.fit();
      nspawnfit.fit();
  });
</script>
{% endblock %}
{% block footer %}
<div class="container">
  <div class="row">
    <div class="column">
      <!-- Consider giving credit to the Authors of this Project by not removing this label -->
      <label id="footer">Powered by <a href="https://gitlab.com/mohan43u/meetty" target="_blank">MeeTTY</a></label>
    </div>
  </div>
</div>
{% endblock %}
